<%= form_with model: @order, local: true do |form| %>
    <%= form.label :address %>
    <%= form.text_field :address %>
    
    <%= form.label :province %>
    <%= form.text_field :province %>
  
    <h2>Order Summary</h2>
    <% @cart.items.each do |item| %>
      <p><%= Product.find(item["product_id"]).title %> - <%= item["quantity"] %> x <%= Product.find(item["product_id"]).price %></p>
    <% end %>
  
    <%= form.submit 'Place Order' %>
  <% end %>
  